TmpInput/
PublishCompile/
StickyNotesWin.zip
ReleaseInfo/StickyNotes.exe

# Garbage
.DS_Store
**/Debug
**/Release
obj/
packages/
.vs/
*.sdf
*.db
*.pdb
*.idb
*.tlog
*.obj
*.exp
*.lib
*.ilk
*.pch
*.log
