html { background: #E7CFFF; border: solid 1px black; }
body { margin: 0; }

header
{
	background: #DBB7FF;
	border-bottom: solid 6px #DBB7FF;
	flow: horizontal;
	position: relative;
	top: -28px;
}

#mi-colors { flow: horizontal; height: 34px; }
#mi-colors div { size: *; }
#mi-colors div:current { foreground: url(img/check.png) center no-repeat; }
#mi-colors div:hover { foreground-color: rgba(0, 0, 0, 0.12); }
#mi-colors div:nth-child(1) { background: #ffe66e; }
#mi-colors div:nth-child(2) { background: #A1EF9B; }
#mi-colors div:nth-child(3) { background: #FFAFDF; }
#mi-colors div:nth-child(4) { background: #D7AFFF; }
#mi-colors div:nth-child(5) { background: #9EDFFF; }
#mi-colors div:nth-child(6) { background: #E0E0E0; }
#mi-colors div:nth-child(7) { background: #767676; }

html:hover header,
:owns-focus header
{
	top: 0;
	border-bottom: none;
	transition: top(cubic-out, 180ms, none);
}

.btn
{
	height: *;
	padding: 7px;
	flow: horizontal;
	vertical-align: middle;
	horizontal-align: middle;
}
.btn.space
{
	margin-left: *;
}
.btn img
{
	fill: black;
	width: 15px;
	opacity: 0.5;
}
.btn:popup,
.btn:hover { background: #ccabee; }
.btn:active { background: #c4a3e5; }

htmlarea
{
	size: *;
	display: block;

	background: none;
	padding: 10px;
	overflow: scroll-indicator;

	text-selection-background-color: #9BCC29;
	text-selection-color: white;
	color: #333333;
}
htmlarea p,
htmlarea li { margin: 0; margin-bottom: 4px; list-style-position: outside; list-style-image: url(img/bullet.png); padding-left: 3px; }
htmlarea > ul { margin: 0; padding-left: 14px; }
htmlarea s { text-decoration: line-through; }
//htmlarea:empty { background: red; }

#toolbar
{
	display: none;

	flow: horizontal;
	border-top: solid 1px;
	fill: rgba(0, 0, 0, 0.51);
	padding: 3px;
}
#toolbar img { size: 14px; padding: 7px; margin-right: 12px; }
#toolbar img:hover { background: rgba(0, 0, 0, 0.1); }
#toolbar img:checked { background: rgba(0, 0, 0, 0.15); }

html:hover #toolbar,
:owns-focus #toolbar
{
	display: block;
}